* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-image: url(./images/photo-1505826759037-406b40feb4cd.jpeg);
  background-size: cover;
  font-family: sans-serif;
  padding: 5% 10%;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: black;
}

#login {
  z-index: 22;
}
