* {
  box-sizing: border-box;
}

body {
  display: flex;

  background-image: url(./images/Screenshot\ from\ 2021-08-10\ 14-22-48.png);
  background-size: cover;
  font-family: sans-serif;
  padding: 5% 10%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: black;
}

#login {
  z-index: 22;
}
